<div class="stage">
  <div class="flashcard">
    <div class="front">
      <h1>Question:</h1>
        <h1><%= @card.question %></h1>
          <form action="/rounds/<%= @round.id%>/guesses" method="POST">
          <div class="spacer"></div>
          <input type="text" value="" name="guess" />
          <div class="spacer"></div>
          <input id="card" name="card" type="hidden" value="<%=@card.id%>" />
          <input class="submit_answer" value="Submit Answer" type="submit"/>
        </form>
      </div>
    </div>
</div>
