
<div id="page" class="container">
    <div id="content">
      <h1><%= @user.name %>, Are you sure you want to log out?</h1>
      <div class="spacer"></div>
      <form action="/users/<%= @user.id %>/logout" method='POST'>
        <input type='submit' value='log out!' />
      </form>
      <div class="spacer"></div>
      <a href="/users/<%= @user.id %>">Go Back</a>
    </div>
</div>

