<%= erb :'/_header' %>
  <div id="page" class="container">
    <div id="content">
      <h1>OPS! Wrong email or password</h1>
      <br>
      <a href='/users/login'>Go back to Login</a>
    </div>
  </div>
<%= erb :'/_footer' %>
