<ul>
  <li>
    <label for="card_question">Question:</label>
    <input id="card_question" type="text" name="card[question]" value="<%= @card.question %>" />
  </li>
  <li>
    <label for="card_answer">Answer:</label>
    <input id="card_answer" type="text" name="card[answer]" value="<%= @card.answer %>" />
  </li>
</ul>
