<div id="page" class="container">
  <h1>Something is wrong, please make sure question and answer is not blank</h1>
  <div class="spacer"></div>
  <a href="/cards/<%=@card.id%>/edit">Go back to edit card</a>
</div>
