<div id="page" class="container">
  <h1>Something is wrong, please make sure question and answer is not blank</h1>
  <div class="spacer"></div>
  <a href="/decks/<%=@deck.id%>/cards/new">Go back to deck creation</a>
</div>
