<div class="stage">
  <div class="flashcard">
    <div class="front">
         <h1>Question: <%=@card.question%></h1>
         <div class="spacer"></div>
          <h1>Question: <%=@card.question%></h1>
         <div class="spacer"></div>
      </div>
    </div>
</div>
