<div class="container">
  <h1><%=@card.question%></h1>
  <div id='question'>
    <form action='/decks/<%=@deck.id%>/rounds/<%=@round.id%>/cards/<%=@card.id%>' method="POST">
      <input id='guess' name="guess" type="text" />
      <input type='submit' value='submit answer' />
    </form>
  </div>
</div>
