<div id="page" class="container">
<div id="content">
<h1>You do not have permission to edit this deck!</h1>
<div class="spacer"></div>
<img src="http://inspired.com.ua/wp-content/uploads/2014/12/1407225932091_wps_6_SANTA_MONICA_CA_AUGUST_04.jpg" />
<div class="spacer"></div>
<a href='/decks'>Go back to all decks</a>
    </div>
</div>