<div id="page" class="container">
    <div id="content">
       <h1>Flash Card Game</h1>
       <br>
        <% @decks.each do |deck| %>
        <h3><a href="/decks/<%= deck.id%>"><%= deck.name %> </a></h3>
        <br>
        <% end %>
    </div>
  </div>
