<div class="container">
  <h1>display details of the deck: name, number of cards, high score?</h1>
  <a href="/index/decks/<%=@deck.id%>/rounds/<%=@round.id%>/cards/<%=@card.id%>">Start the Game</a>
</div>
