<div class="container">
  <h1>display details of the deck: name, number of cards, high score?</h1>
  <form action="/decks/<%=@deck.id%>" method="POST">
    <input value="Start the Game" type="submit"/>
  </form>
</div>
