<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/fonts.css">

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.16/dist/jquery.flip.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <%= erb :'/_header' %>
    <%= yield %>
  <%= erb :"/_footer" %>
</body>
</html>
